![imagen](../images/ejercicios.png)

# Ejercicio 1 

Importa los datos alojados en `../data/Current_Employee_Names__Salaries__and_Position_Titles.csv` y revisa cuantos valores nulos tiene el dataframe.

In [1]:
import numpy as np
from scipy.stats import t
import pandas as pd

In [7]:
df=pd.read_csv('C:\Katherine_Classes\ds_tb_part_21_09-1\data/Current_Employee_Names__Salaries__and_Position_Titles.csv')
df

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [10]:
df.info

<bound method DataFrame.info of                         Name                              Job Titles  \
0          AARON,  JEFFERY M                                SERGEANT
1            AARON,  KARINA   POLICE OFFICER (ASSIGNED AS DETECTIVE)
2        AARON,  KIMBERLEI R                CHIEF CONTRACT EXPEDITER
3        ABAD JR,  VICENTE M                       CIVIL ENGINEER IV
4          ABASCAL,  REECE E             TRAFFIC CONTROL AIDE-HOURLY
...                      ...                                     ...
33178  ZYLINSKA,  KATARZYNA                           POLICE OFFICER
33179     ZYMANTAS,  LAURA C                          POLICE OFFICER
33180      ZYMANTAS,  MARK E                          POLICE OFFICER
33181    ZYRKOWSKI,  CARLO E                          POLICE OFFICER
33182   ZYSKOWSKI,  DARIUSZ                  CHIEF DATA BASE ANALYST

             Department Full or Part-Time Salary or Hourly  Typical Hours  \
0                POLICE                 F           Salary            NaN
1                POLICE                 F           Salary            NaN
2      GENERAL SERVICES                 F           Salary            NaN
3           WATER MGMNT                 F           Salary            NaN
4                  OEMC                 P           Hourly           20.0
...                 ...               ...              ...            ...
33178            POLICE                 F           Salary            NaN
33179            POLICE                 F           Salary            NaN
33180            POLICE                 F           Salary            NaN
33181            POLICE                 F           Salary            NaN
33182              DoIT                 F           Salary            NaN

       Annual Salary  Hourly Rate
0           101442.0          NaN
1            94122.0          NaN
2           101592.0          NaN
3           110064.0          NaN
4                NaN        19.86
...              ...          ...
33178        72510.0          NaN
33179        48078.0          NaN
33180        90024.0          NaN
33181        93354.0          NaN
33182       115932.0          NaN

[33183 rows x 8 columns]>

In [11]:
nan_cols=df.isna().sum()

nan_cols

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

# Ejercicio 2

¿Cuantas personas cobran un salario fijo y cuantas cobran por hora?. ¿Cuantas posiciones laborales hay?

In [16]:
df.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

In [27]:
pos_lab= df['Job Titles'].unique()

pos_lab

array(['SERGEANT', 'POLICE OFFICER (ASSIGNED AS DETECTIVE)',
       'CHIEF CONTRACT EXPEDITER', ..., 'CHIEF WATER ENGINEER',
       'COORD OF PRINTING SERVICES - GRAPHICS', 'MECHANICAL ENGINEER IV'],
      dtype=object)

In [28]:
pos_lab1=df['Job Titles'].value_counts()
pos_lab1

POLICE OFFICER                                 9520
FIREFIGHTER-EMT                                1473
SERGEANT                                       1202
POOL MOTOR TRUCK DRIVER                        1055
POLICE OFFICER (ASSIGNED AS DETECTIVE)          989
                                               ...
COMMANDER-PARAMEDIC                               1
ASST SUPVSR OF DATA ENTRY OPERATORS               1
DEPUTY PROCUREMENT OFFICER/CONTR COMPLIANCE       1
COORD OF AIR MASK SERVICES                        1
HR RECORDS ADMINISTRATION MANAGER                 1
Name: Job Titles, Length: 1111, dtype: int64

In [31]:
pos_lab2= df['Job Titles'].nunique()  
pos_lab2

1111

In [32]:
salary_1=df['Salary or Hourly'].value_counts()
salary_1

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

# Ejercicio 3

Nos gustaría saber si el sueldo para las personas que cobran por horas es significativamente mayor que 30$/hr. Realiza el testeo de hipotesis correspondiente y comentalo.

In [ ]:
#h0 = el sueldo de las personas que cobran por horas es significativamente menor o igual que 30$/hr
#h1 = el sueldo de las personas que cobran por horas es significativamente mayor que 30$/hr

In [48]:
salary_h= df.groupby(['Salary or Hourly']).mean()
salary_h

                  Typical Hours  Annual Salary  Hourly Rate
Salary or Hourly
Hourly                34.507604            NaN    32.788558
Salary                      NaN    86786.99979          NaN

In [40]:
from scipy.stats import t
from scipy.stats import ttest_1samp

In [41]:
test=ttest_1samp(np.random.normal(32.788558, 30, 8022), 32.788558)   # muestra normal (media muestra, std muestra, tamaño de muestra)

test.statistic

1.2842179499403208

In [42]:
test.pvalue

0.19910279746036602

In [43]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\gutie\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.15 in c:\users\gutie\anaconda3\lib\site-packages (from statsmodels) (1.20.1)
Requirement already satisfied: scipy>=1.1 in c:\users\gutie\anaconda3\lib\site-packages (from statsmodels) (1.6.2)
Requirement already satisfied: pandas>=0.21 in c:\users\gutie\anaconda3\lib\site-packages (from statsmodels) (1.2.4)
Requirement already satisfied: patsy>=0.5 in c:\users\gutie\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\gutie\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gutie\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: six in c:\users\gutie\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

In [44]:
from statsmodels.stats import weightstats as w

z_test, p_value=w.ztest(np.random.normal(32.788558, 0.25, 8022), value=32.788558)

z_test, p_value

(-1.8742349228771846, 0.060898052662538)

In [ ]:
# No es significativamente mayor de 30$/h

# Ejercicio 4

Para las personas que cobran anualmente, ¿el sueldo es significativamente menor que 85000$?

In [ ]:
#h0 = el sueldo de las personas que cobran por horas es significativamente mayor o igual que 85000$
#h1 = el sueldo de las personas que cobran anualment el sueldo es significativamente menor que 85000$

In [52]:
df['Annual Salary'].describe()

count     25161.000000
mean      86786.999790
std       21041.354602
min        7200.000000
25%       76266.000000
50%       90024.000000
75%       96060.000000
max      300000.000000
Name: Annual Salary, dtype: float64

In [54]:
annual =df['Annual Salary'].count()
annual

25161

In [61]:
z_test, p_value=w.ztest(np.random.normal(86786.999790, 354602, 25161), value=85000)

z_test, p_value

(0.47901977715333033, 0.6319245591330583)

In [56]:
test=ttest_1samp(np.random.normal(86786.999790, 21041.354602, 25161), 85000)   # muestra normal (media muestra, std muestra, tamaño de muestra)

test.statistic

14.676240016280941

In [60]:
test.pvalue

1.453665212366395e-48

In [ ]:
#Es significativamente mayor de 85000

# Ejercicio 5

El jefe de policia nos dice que su gente cobra de media 86000$. Realiza el test de hipotesis de dos colas.

In [ ]:
#h0 = el sueldo de los policias no es de media 85000$
#h1 = el sueldo de los policias es de media 85000$

# Ejercicio 6

El departamento con mas personas cobrando por hora se queja de que su sueldo es menor que 35$/hr. ¿Es eso cierto?

# Ejercicio 7

Para intervalos de confianza con el t-test, se usa la funcion [t.interval](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html). Calcula el intervalo de confianza del 95% para la media de sueldo por hora.

# Ejercicio 8

Construye el intervalo de confianza del 95% para el salario de la policia.

# Ejercicio 9

¿El numero de personas que trabajan por hora es significativamente diferente del 25% de personas? Realiza un test de proporcion con `proportions_ztest`.

# Ejercicio 10

**AB-Test**


Imaginad que somos los cientificos de datos de la empresa de videojuegos Tactile Entertainment. Los desarrolladores del juego Cookie Cats pretenden introducir un cambio en el juego para aumentar la retencion de los jugadores. En cierto nivel del juego los jugadores se encuentran una puerta que les obliga a esperar o a pagar la app. Actualmente la puerta se encuentra en nivel 30 y se pretende pasar al nivel 40, para comprobar la retencion a 1 y 7 dias. Antes de realizar el cambio definitivo en el juego se raliza un test AB.

Los datos estan alojados en `../data/cookie_cats.csv`. Nuestro grupo de control sera la version actual `gate_30` y el grupo de tratamiento sera la version `gate_40`. Debemos realizar el test para 1 dia de retencion `retention_1` y para 7 dias `retention_7`.

In [ ]:
#count es un array, se pide del dataframe